/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes moveArrow {
    0% {
      transform: translateX(0); /* Исходное положение */
    }
    100% {
      transform: translateX(4px); /* Сдвиг на 4 пикселя вправо */
    }
  }

  @keyframes scaleHeart {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
  }
  
@keyframes iskra {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  /* анимация сердца */

.sparks {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.is-liked .sparks {
  animation: iskra 0.3s ease-in forwards;
  opacity: 1;
}

.like-icon .heart .contour {
  fill: var(--heartCountur);
  transition: fill 0.3s;
}

.like-icon .heart .main-body {
  fill: transparent;
  transition: fill 0.3s 0.05s; 
}

.like-icon .heart .core {
  fill: transparent;
  transition: fill 0.3s 0.3s; 
}

.like-icon:hover .heart .contour {
  fill: var(--heartCountur);
}

.like-icon:hover .heart .main-body {
  fill: var(--heartCountur);
}

.like-icon:hover .heart .core {
  fill: var(--heartCountur);
}

.like-icon:active .heart .main-body,
.like-icon:active .heart .core {
  fill: var(--sparks); 
  transition: fill 0.3s; 
}

.like-icon .heart {
  transform-origin: center;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.like-icon .heart .spark {
  opacity: 0;
  animation-name: sparkAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.like-icon.is-liked .heart .contour {
  fill: var(--sparks);
}

.like-icon.is-liked .heart .main-body {
  fill: var(--sparks);
}

.like-icon.is-liked .heart .core {
  fill: var(--sparks);
}

.like-icon.is-liked .heart {
  animation-name: scaleHeart;
  animation-delay: 0.1s;
}

.like-icon.is-liked .heart .spark {
  opacity: 1;
  animation-delay: 0.3s;
}